body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1 {
  position: relative;
  height: 100%;
  background-image: url("bg2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
