body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.round{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 5px;
}

th, td {
    padding: 5px;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    display:none;
}

.bgimg-1 {
  position: relative;
  height: 100%;
  background-image: url("bg2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
